<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Montserrat:wght@400;600&family=Poppins:wght@600&display=swap"
        rel="stylesheet">
    <link rel="javascript" href="app.js">
    <title>Home</title>
</head>

<body>
    <h1>Dummy Stend DB/backend (barebones, simply for testing frontend stuff)</h1>
    <form action="/delete" method="post">
        <button type="submit" class="danger">DELETE FULL DATABASE (irreversible)</button>
    </form>
    <form action="/refresh" method="post">
        <button type="submit" class="reload">REFRESH PAGE (needed to see users added via POST request)</button>
    </form>
    <p>Create a user by posting to <b>https://mysterious-reaches-53974.herokuapp.com/createUser</b> and <b>POST</b> a JS
        object
        with 3 fields: <b>username</b>, <b>email</b>, and <b>password</b> (all strings), then click the <b>REFRESH
            PAGE</b> button to
        see
        them added (or just do it
        through the GUI
        here):</p>
    <p><u>Dummy Error Handling:</u></p>
    <ul>
        <li>Status code <b>400</b> returned: Bad request. Triggered when at least one of the post fields
            (username, email, password) is completely blank.</li>
        <li>Status code <b>201</b> returned: User created. User creation post successful</li>
        <li>Status code <b>500</b> returned: Something went wrong with the server, idk what lol</li>
    </ul>

    <form class="item" action="/createUser" method="post">
        <input type="text" name="username" placeholder="Username" autocomplete="off">
        <input type="text" name="email" placeholder="Email" autocomplete="off">
        <input type="text" name="password" placeholder="Password" autocomplete="off">
        <button class="safe" type="submit">Create user</button>
    </form>
    <h5>The DB of current (TEST) users is below:</h5>
    <hr>
    <% posts.forEach(function(post){ %>
        <p>
            <u>Username:</u>
            <%=post.username%>
        </p>
        <p>
            <u>Email:</u>
            <%=post.email%>
        </p>
        <p class="bottom">
            <u>Password:</u>
            <%=post.password%> <b>(will be hashed I assume)</b>
        </p>
        <hr>
        <% }) %>
</body>

</html>